.select_option{
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 2px 16px;
  color: #323233;
  line-height: 40px;
  border-bottom: 1px solid #DADADA;
  appearance: none;
  label{
    flex: none;
    box-sizing: border-box;
    width: 90px;
  }
  select{
    background-color: transparent;
    border: none;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    outline: none;
    width: 100%;
    font-size: 14px;
  }
}
